<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PromptMode - Cloud</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jquery.datetimepicker.min.css">

  <script src="/js/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/axios.min.js"></script>
  <script src="/js/jquery.datetimepicker.full.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand navbar-light">
    <a class="navbar-brand" href="/">PromptMode <span class="fas fa-business-time"></span></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/config">Config <span class="fas fa-cogs"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logs">Logs <span class="fas fa-calendar-check"></span></a>
      </li>
    </ul>
  </nav>
  
  <div class="container">